{% extends "main.html" %}


{% block body %}



<form method="POST">

<!--    {% module xsrf_form_html() %}-->

    <div class="navbar">

        <a href="http://localhost:8000/">
            <img src="static/logo.jpg" alt="FoodRecipes" width="100px" height="100px">
        </a>

        <a style="padding: 14px 14px; float: right;"><input id="btnSend" type="submit" class="btn" value="Send"> </a>

        <a style="padding: 10px 14px; float: right;">
            <label><i class="fa fa-search"></i></label>
            <input type="search" id="r_search" name="r_search" placeholder="Search for recipes">
        </a>

         <div class="dropdown" style="float: right;">
            <button class="dropbtn" id="btnCategory" disabled> Category <i class="fa fa-caret-down"> </i> </button>
            <div class="dropdown-content">
                <fieldset id="group1" name="group1">
                    <a><input type="radio" name="category" value="name" class="radio"> Name <br></a>
                    <a><input type="radio" name="category" value="text" class="radio"> Text <br></a>
                    <a><input type="radio" name="category" value="ingredients" class="radio"> Ingredients <br></a>
                </fieldset>

            </div>
        </div>
    </div>
</form>


    <h2>Welcome to FoodRecipes!</h2>


    <h4>List of recipes:</h4>

    <br>
    <p style="display: none;">{{ ind = 0 }}</p>

    <div id="all_recipes">
        <ul id="all_recipes_list">
            {% for r in recipes %}
                <li class="listica" id="all_recipe{{r[6]}}">
                    <a class="headline">{{ r[0] }}</a>

                    <form method="POST">
                        <p class="stars">
                          <span>
                            <a class="star-1" type="submit">1</a>
                            <a class="star-2" type="submit">2</a>
                            <a class="star-3" type="submit">3</a>
                            <a class="star-4" type="submit">4</a>
                            <a class="star-5" type="submit">5</a>
                          </span>
                        </p>
                    </form>


                    <a id="btnRemove" class=""><i class="fa fa-trash-o fa-lg"></i></a>
                    <br>
                    <br>

                    <div id="ingredients" class="">
                        <div>
                            <a style="font-style: italic;">Ingredients:</a>
                            <p style="display: none;">{{ rix = recipe_ingredients[r[6]] }} </p>
                            {% for ri in rix %}
                            <p>{{ri}}</p>
                            {% end %}
                        </div>
                    </div>
                    <br>

                    <div id="all_recipe" class="">
                        <div>
                            <a style="font-style: italic;">Preparation instructions:</a>
                            <p>{{ r[1] }}</p>
                            <p> <a style="font-weight: 600;">Time for preparing:</a> {{r[3]}}, for {{r[4]}} persons.</p>
                            <p class="averaged"><a style="font-weight: 600;">This meal has rating number of: </a> {{ round(r[2]/(r[5]*1.0),2) if r[5] != 0 else 0 }}</p>
                            <br>
                        </div>
                    </div>
                </li>
            <p style="display: none;">{{ind=ind+1}}</p>
            {% end %}
        </ul>
    </div>

        <h2>List of top 5 most used ingredients:</h2>

    <br>
    <p style="display: none;">{{ ind_i = 0 }}</p>

    <div id="top_spices">
        <ul id="top_spices_list">
            {% for i in ingredients %}

            <li class="" id="top_spice{{ind}}">
                <div id="spice" class="">
                    <div>
                        <a><a style="font-style: italic; font-size: 18px;">{{ i[0] }}</a> used in {{ i[1] }} recipes.</a>
                    </div>
                </div>
            </li>
            <p style="display: none;">{{ind_i=ind_i+1}}</p>
            {% end %}
        </ul>
    </div>

    <h2>Recipes that use maximum and minimum number of ingredients:</h2>

    <div id="minmax_recipes">
        <ul id="minmax_list">
            {% if tops %}
            <li class="" id="max_r{{tops[-1][0]}}">
                <div id="rec_max" class="">
                    <div>
                        <a>Recipe that uses the max number of ingredients is <a style="font-style: italic;"> {{ tops[-1][1] }} </a> and uses <a style="font-weight: 600;">{{ tops[-1][-1] }} </a> ingredients. </a>
                    </div>
                </div>
            </li>

            <li class="" id="min_r{{tops[0][0]}}">
                <div id="rec_min" class="">
                    <div>
                        <a>Recipe that uses min number of ingredients is <a style="font-style: italic;"> {{ tops[0][1] }} </a> and uses <a style="font-weight: 600;">{{ tops[0][-1] }} </a> ingredients. </a>
                    </div>
                </div>
            </li>
            {% end %}

        </ul>
    </div>

{% end %}