{% extends "main.html" %}

{% block body %}


<body>

    <form method="POST">
        <div class="navbar">
            <a href="http://localhost:8000/">
                <img src="static/logo.jpg" alt="FoodRecipes" width="100px" height="100px">
            </a>

            <div style="float: right; margin: 0 10px; padding: 25px 10px;"><i class="fa fa-sign-out" style="font-size:24px" aria-hidden="true"></i><input type="submit" class="btn" value="Log Out" name="logout"></div>

            <div style="float: right; padding: 25px 10px;"><input type="submit" class="btn" value="Create new recipe" name="create"></div>

            <div style="text-align: center; height: 45px;  float: right; padding: 5px 10px">
                <h2 class="">{{ user }}</h2>
            </div>
        </div>

    </form>
    <br>

    <h1>List of my recipes:</h1>

    <br>
    <p style="display: none;">{{ ind = 0 }}</p>

    <div id="my_recipes">
        <ul id="recipes_list">
            {% for r in recipes %}

            <li class="" id="my_recipe{{ind}}">
                <a class="headline">{{ r[0] }}</a>
                <a id="btnRemove" class=""><i class="fa fa-trash-o fa-lg"></i></a>

                <br>
                <br>

                <div id="ingredients" class="">
                    <div>
                        <a style="font-style: italic;">Ingredients:</a>
                        <p style="display: none;">{{ rix = recipe_ingredients[r[6]] }} </p>
                        {% for ri in rix %}
                        <p>{{ri}}</p>
                        {% end %}
                    </div>
                </div>
                <br>

                <div id="profile_recipe" class="">
                    <div>
                        <a style="font-style: italic;">Preparation instructions:</a>
                        <p>{{ r[1] }}</p>
                        <p> <a style="font-weight: 600;">Time for preparing:</a> {{r[3]}}, for {{r[4]}} persons.</p>
                        <p><a style="font-weight: 600;">This meal has rating number of: </a> {{r[2]}}</p>
                        <br>
                    </div>
                </div>
            </li>
            <p style="display: none;">{{ind=ind+1}}</p>
            {% end %}
        </ul>
    </div>

</body>

{% end %}