{% extends "main.html" %}

{% block body %}


<body>

    <form method="POST">
        <div style="margin: 0 10px;">
            <a href="http://localhost:8000/">
               <!-- <img src="static/images/logo1.png" alt="FoodRecipes" width="60px" height="55px">-->
            </a>

            <a style="float: right; margin: 0 10px;"><input type="submit" class="btn" value="Log Out" name="logout"></a>

            <a style="float: right;"><input type="submit" class="btn" value="Create new recipe" name="create"></a>

            <div style="text-align: center; height: 45px;  float: right;">
                <p class="">{{ user }}</p>
            </div>

        </div>

    </form>
    <br>

    <h1>List of my recipes:</h1>

    <br>
    <p style="display: none;">{{ ind = 0 }}</p>

    <div id="my_recipes">
        <ul id="recipes_list">
            {% for r in recipes %}

            <li class="" id="my_recipe{{ind}}">
                <a class="headline">{{ r[0] }}</a>
                <a id="btnRemove" class=""><i class="fa fa-trash-o fa-lg"></i></a>

                <div id="profile_recipe" class="">
                    <div>
                        <p>{{ r[1] }}</p>
                        <p> <a style="font-weight: 600;">Time for preparing:</a> {{r[3]}}, for {{r[4]}} persons.</p>
                        <p><a style="font-weight: 600;">This meal has rating number of: </a> {{r[2]}}</p>
                        <br>
                    </div>
                </div>
            </li>
            <p style="display: none;">{{ind=ind+1}}</p>
            {% end %}
        </ul>
    </div>

</body>

{% end %}